html{
    height:100%
}
body{
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    background-color: rgb(47, 47, 59);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    position: relative;
    width: 300px;
    color: rgb(0, 180, 150);
    text-align: center;
    margin-bottom: 40px;
}
h1::after{
    display: block;
    content: '';
    width: 300px;
    height: 1px;
    background: rgb(204, 204, 204);
    position: absolute;
    bottom: -10px;
    left: 0;
}
#form-messages{
    box-sizing: border-box;
    padding:10px 25px;
    border: 1px solid red;
    color: red;
    background-color: rgb(255,232,232);
    display: none;
    font-size: 14px;
    width: 300px;
}
label{
    box-sizing: border-box;
    font-size: 18px;
    display: block;
    width: 300px;
    margin-bottom: 10px;
    color: rgb(144, 144, 144);
}
input{
    box-sizing: border-box;
    display: block;
    width: 300px;
    padding: 10px 25px;
    border: 1px solid rgb(144, 144, 144);
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    color: rgb(0, 180, 150);
}

#btn-submit{
    box-sizing: border-box;
    background-color: rgb(11, 17, 71);
    color: white;
    padding: 10px 25px;
    width: 300px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0px 10px 25px 10px;
    width: 350px;
    margin: 0px auto;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}